html, body 
{
    padding: 0;

    color:lightgray;
    font-size: 80%;
    font-family: Gill Sans, sans-serif;
}


#title 
{
    text-align: center;
}

canvas 
{
    margin: auto;
    display: block;  
    border: solid;
    border-width: thin;
    border-color: darkgray;
}

